.about-us {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.about-us__image {
    width: 40%;
    margin-right: 30px;
}

.about-us__h3 {
    color: #aaaaaa;
    font-size: 30px;
    text-align: right;
    margin-bottom: 50px;
}

.about-us__paragraph {
    color: #bbbbbb;
    font-size: 20px;
    text-align: right;
}